[Desktop Entry]

Name=Alovoa
Exec=alovoa
Type=Application
Icon=com.alovoa.alovoa
Comment=Alovoa client, built with Electron.
Categories=Utility;Network;Chat;InstantMessaging;
StartupWMClass=alovoa-electron
