#!/usr/bin/env xdg-open
[Desktop Entry]

Name=Alovoa
Exec=run.sh
Type=Application
Icon=com.alovoa.alovoa-electron
Comment=An official Alovoa client for Linux, built with Electron.
Categories=Utility;Network;Chat;InstantMessaging;
StartupWMClass=alovoa-electron
 
